*, *::after, *::before { box-sizing: border-box }
body, p, div, h1, h2, h3, h4, h5, h6 { margin: 0 }

body {
    font-family: Lato, 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1rem;
    background-color: white;
    color: black;
}

h1 { font-size: 2rem }
h2 { font-size: 1.75rem }
h3 { font-size: 1.5rem }
h4, h5, h6 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* Corporate colours */
:root {
    --logo-color: #f5c518;
    --link-bg-color: #a0c3e1;
    --link-fg-color: #126db2;
    --border-color: darkslategrey;
}

a, a:visited {
    text-decoration: none;
    color: var(--link-fg-color);
}
